*{
box-sizing: border-box;
}
.wrapper{
    width: 1100px;
    margin: 30px auto;
    border: 1px solid black;
}
header{
    border: 1px solid black; 
    background-color: yellow;
}
.block{
    text-align: left;
}
.sitename{
    margin-bottom: 10px;
    font: 20px Arial;
   
}
nav{
    display: flex;
    width: 600px;
    border: 1px solid y;
}
nav a{
    padding: 10px;
    color: blue;
    text-decoration: none;
    /**Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию*/
    font: 15px Arial;
}
.container{
    display: flex;
}
nav a:hover, nav a.active{
    color: red;
    text-decoration: underline;
    /*Подчеркивание текста*/
}
main p{
    margin: 10px 0;
    text-align: justify;
    /*Выравнивание текста по ширине*/
    font: 15px Arial;
}
.right{
width: 400px;
padding: 20px;
border: 1px solid black;
}
main{
    width: 700px;
    padding: 20px;
    border: 1px solid black;
}
footer{
    padding: 30px 0;
    border: 1px solid black;
    text-align: center;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 660px;
}
th{
border: 5px solid black;
}
td{
    border: 5px solid black;
    text-align: center;
}
img{
    width: 660px;
}
footer{
    background-color: yellow;
}